<p style="color: green"><%= notice %></p>

<h1>Expenses</h1>

<div id="expenses">
  <% @group_expenses.each do |group_expense| %>
    <p>
    <strong>Name:</strong>
    <%= group_expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= group_expense.amount %>
  </p>

    <p>
      <%= link_to "Show this expense", group_expense_path %>
    </p>
  <% end %>
</div>

<%= link_to "New expense", new_group_expense_path %>
