<p style="color: green"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @group_expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @group_expense.amount %>
  </p>


<div>
  <%= link_to "Back to expenses", group_expenses_path %>

  <%= button_to "Destroy this expense", @expense, method: :delete %>
</div>
